@import '~codemirror/lib/codemirror.css';
@import '~basscss/css/basscss.css';
@import './variables.scss';
@import './stack-visualizer.scss';
* {
  box-sizing: border-box;
}


.slide {
  height: 98vh;
  .code-snippet {
    .syntax-highlighter {
      margin-top:10px;
      max-height: 68vh;
    }
  }
  &:not(:first-child) {
    border-top: 2px solid $teal;
  }
}

body {
  font-family: 'Courier New';
  margin:0;
}

.btn {
  cursor: pointer;
  background: none;
  border: 1px solid $orange;
  border-radius: 40px;
  color: $orange;
}
.muted {
  color: $silver;
}

.CodeMirror {
  height: auto;
}

