@import '~codemirror/lib/codemirror.css';
@import '~basscss/css/basscss.css';
// @import '~font-awesome/scss/font-awesome.scss';
@import './variables.scss';
@import './stack-visualizer.scss';
@import './eventLoop.scss';
@import './scatter.scss';
@import './simpleStack.scss';
* {
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}



iframe {
  border: none;
}

.slide {
  height: 100vh;
  border-top: 2px solid $teal;
  .code-snippet {
    .syntax-highlighter {
      margin-top:10px;
      width: 75%;
      margin: 0 auto;
      border-left: 10px solid $orange;
      max-height: 68vh;
    }
  }
  .the-future-is-now {
    .syntax-highlighter {
      width: 100%;
      max-height: none;
      height: 100vh;
    }
  }
  .babel {
    .code-snippet .syntax-highlighter {
      margin: 0!important;
    }
  }
}


body {
  font-family: 'Courier New';
  margin:0;
}

.btn {
  &:focus, &:active {
    outline: none;
  }
  padding: 10px;
  cursor: pointer;
  background: none;
  border: 1px solid $orange;
  border-radius: 40px;
  color: $orange;
}
.muted {
  color: $silver;
}

.CodeMirror {
  height: auto;
}

