@import '~codemirror/lib/codemirror.css';
@import '~basscss/css/basscss.css';
@import './variables.scss';
@import './stack-visualizer.scss';
* {
  box-sizing: border-box;
}

.slide {
  .code-snippet {
    .syntax-highlighter {
      font-size: 1.8em;
      max-height: 90vh;
    }
  }
}

body {
  font-family: 'Courier New';
  margin:0;
}

.btn {
  background: none;
  border: 1px solid $orange;
  border-radius: 40px;
  color: $orange;
}
.muted {
  color: $silver;
}

.CodeMirror {
  height: auto;
}

